.userItem {
  background-color: var(--light-green);
}
.userPic {
  border-radius: 500px;
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-right: 20px;
}
.userItem h3 {
  color: var(--dark-green);
  font-size: 28px;
}
.current, .pagination li:hover {
  font-weight: bold;
}
.pagination li {
  cursor:pointer;
  padding: 5px 3px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}
