.headerNav img {
  width: 40px;
  height: 50px;
  object-fit: cover;
  filter: invert(1);
}

.headerNav nav {
  background: #050505!important;
  padding-top: 10px;
}

.navLinks a {
    color: var(--light-green);
    text-decoration: none;
    margin-left: 20px;
}

.navLinks a:hover, .navLinks a.active {
  color: var(--white);
  font-weight: 500;
}
.navLinks a.btnLogin {
    padding: 10px 25px;
    background: var(--white);
    color: var(--black);
    margin-left: 60px;
    margin-top: -10px;
    min-width: 95px;
    text-align: center;
}

.navLinks a.btnLogin:hover {
    background: var(--beige);
    color: var(--black);
}
a.loggedinUser{
     font-size: 20px;
    line-height: 1;
    color: #f2e7dc;
    font-weight: 500;
    margin-right: -45px;
    margin-left: 40px;
}